<p id="notice"><%= notice %></p>
<div class="container" id="blog-list">
<h1>Looking Forward: My Blog</h1>

<%= will_paginate @blogs %>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.description %></td>
        <td><%= time_ago_in_words(blog.created_at) %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @blogs %>

<br>

<%= link_to 'New Blog', new_blog_path %>
</div>