<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<h2>Add a Comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>


<%= link_to 'Edit', edit_blog_path(@blog) %> 
<%= link_to 'Destroy Comment', [comment.blog, comment],
	method: :delete,
	data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', blogs_path %>
</div>